{{#if success}}
<div class="container">
    <div class="toast teal lighten-2">
        {{success}}
    </div>
</div>
{{/if}}

{{#if error}}
<div class="container">
    <div class="toast red">
        {{error}}
    </div>
</div>
{{/if}}